span {
	position: absolute;
	width: 80px;
	overflow: auto;
}

.task {
	overflow: auto;
}

.delete-button {
	margin-left: 50px;
	background-color: transparent;
	border: none;
	color: #e57373;
	cursor: pointer;
	transition: color 0.2s ease-in-out;
}